.create-btn{
  background-color: rgb(211, 188, 231);
  border: none;
  border-radius: 3px;
  padding: 0.5%;
  margin: 0.7%;

}
.create-btn:hover{
  cursor: pointer;
}
.source{
  display: flex;
  background-color: rgb(118, 86, 145);
  height: 50px;
}
.total-source{
  margin-top: 2%;
}
h1{
  margin-left:19%;
  margin-top:0.48%;
  color: white;
}