.delete{
    margin-left:68%;
     background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 30px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #c5bee4;
    width: 50%;
    display: flex;
    /* align-items: center;  */
    margin-top: 3.7%;
}
.delete-box{
   
        background-color: transparent;
        border: none;
        border-color: blue;
        height: 100%;
        font-size: 18.25px;
        width: 91%;
    
    
}
.delete-box:focus{
    outline: none;
}
 .delete-btn{
    margin-top:1%;
} 
.delete-btn:hover{
    cursor: pointer;
}
.confirm-form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:rgb(251, 253, 255) ;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    border-color: white;
    animation: fadeIn 0.3s;
    box-shadow: 0px 0px 8px #c5bee4;
  }
.confirm-btn1,
.confirm-btn2,
 .list:hover{
    cursor: pointer;
    background-color: #c2bfbf;
  }
  .confirm-btn1{
    background-color: #5e69ff;
    color: #ffffff;
    padding-left: 28%;
    padding-right: 30%;
    border-radius: 2px;
    border : none;
   margin-right: 2%;
    
  }
  .confirm-btn2{
    background-color: #5e69ff;
    color: #ffffff;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 2px;
    border : none;
    margin-left: 10%;
    
  }