.getOne-box {
    background-color: transparent;
    border: none;
    border-color: blue;
    height: 100%;
    font-size: 18.25px;
    width: 89%;
}

.get {
    margin-left: -173%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 30px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #c5bee4;
    width: 55%;
    display: flex;
    margin-top: 3.7%;
}

.getOne-box {
    outline: none;
}

#search-icon {
    color: rgb(1, 1, 3);
    margin-top: 3.5%;
}

.search:hover {
    cursor: pointer
}
.view-one{
    background-color: rgb(207, 159, 159);
    margin: 10.5px;
    padding: 1% 8% 1% 3%;   
    height: 30px;
    border-radius: 10px;
    margin-top: 30%;
    margin-left: -90%;
    width:120%;
    position: relative
}
.list{
    margin: 4% 4% 4% 4% ;
    padding: 3%;
    list-style: none;
    background-color: rgb(252, 252, 252);
    width:90%;
    border-radius: 10px;
    border-color: 3px solid black;
    display: block;
    align-items: center;
}
.delete-icon:hover{
    cursor: pointer;
}
.delete-icon{
    margin-top: 1%;
}
